/*@forward 'variables';*/
@font-face {
  font-family: "Inter Regular";
  src: url("assets/fonts/inter-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter Medium";
  src: url("assets/fonts/inter-medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter Semibold";
  src: url("assets/fonts/inter-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter Bold";
  src: url("assets/fonts/inter-bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins Semibold";
  src: url("assets/fonts/poppins-semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins Medium";
  src: url("assets/fonts/poppins-medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "League Gothic Regular";
  src: url("assets/fonts/league-gothic.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
.page {
  width: 100%;
  margin: 0;
}

.page__main {
  width: 85%;
  margin: 0 120px;
}

@media (max-width: 1250px) {
  .page__main {
    margin: 0 auto;
  }
}
.page__dividing-line {
  width: 95%;
  margin: 59px auto;
}

@media (max-width: 900px) {
  .page__dividing-line {
    width: 85%;
  }
}
.page__footer {
  width: 84%;
  margin: 60px auto;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 900px) {
  .menu {
    display: none;
  }
}
.menu__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  column-gap: 15px;
}

.menu__item {
  margin-left: 18px;
}

.menu__link {
  color: #000000;
  font-family: "Inter Regular", sans-serif;
  font-size: 16px;
  text-decoration: none;
}

.burger-menu {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 23px;
  border: 1px solid transparent;
  background-color: white;
  padding: 10px 20px 15px;
}

@media (max-width: 900px) {
  .burger-menu {
    display: flex;
    position: absolute;
    top: -16px;
    right: 164px;
  }
}
@media (max-width: 500px) {
  .burger-menu {
    top: -11px;
  }
}
@media (max-width: 400px) {
  .burger-menu {
    top: -10px;
    right: 125px;
  }
}
@media (max-width: 380px) {
  .burger-menu {
    top: -16px;
    padding: 10px 11px 15px;
  }
}
@media (max-width: 320px) {
  .burger-menu {
    padding: 10px 8px 15px;
  }
}
.burger-menu_border_added {
  border: 1px solid grey;
}

.burger-menu__list {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  row-gap: 5px;
}

.burger-menu__item {
  margin-top: 5px;
}

.burger-menu__link {
  color: #000000;
  font-family: "Inter Regular", sans-serif;
  font-size: 16px;
  text-decoration: none;
}

.burger-menu__button {
  background-color: transparent;
  border: none;
  margin-left: auto;
}

.burger-menu__image {
  display: block;
}

.burger-menu__image path {
  fill: #1a846a;
}

.burger-menu__list_displaying_showed {
  display: flex;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 68px;
  padding: 0px 65px 0 73px;
}

@media (max-width: 900px) {
  .header {
    height: auto;
  }
}
@media (max-width: 530px) {
  .header {
    padding: 0px 44px 0 41px;
  }
}
@media (max-width: 460px) {
  .header {
    padding: 0px 36px 0 35px;
  }
}
.header__button {
  margin-left: 131px;
}

@media (max-width: 1100px) {
  .header__button {
    margin-left: 25px;
  }
}
.header__burger-menu {
  margin-top: 25px;
}

.h1 {
  color: #1a846a;
  font-family: "Poppins Semibold", sans-serif;
  font-size: 24px;
}

@media (max-width: 500px) {
  .h1 {
    width: 30%;
    line-height: 1;
  }
}
@media (max-width: 380px) {
  .h1 {
    font-size: 20px;
  }
}
.h2 {
  color: #000000;
  font-family: "League Gothic Regular", sans-serif;
  font-size: 72px;
  line-height: 0;
}

@media (max-width: 1100px) {
  .h2 {
    line-height: 1;
  }
}
@media (max-width: 460px) {
  .h2 {
    font-size: 60px;
  }
}
@media (max-width: 380px) {
  .h2 {
    font-size: 45px;
  }
}
.h3 {
  color: #1a846a;
  font-family: "Inter Bold", sans-serif;
  font-size: 16px;
  line-height: 1.4em;
}

.h4 {
  color: #000000;
  font-family: "Inter Bold", sans-serif;
  font-size: 22px;
  line-height: 1.4em;
}

.news-text {
  color: #000000;
  font-family: "Inter Regular", sans-serif;
  font-size: 18px;
  line-height: 1.6em;
}

.h3_displaying_none {
  display: none;
}

.button {
  width: 89px;
  height: 40px;
  color: #ffffff;
  font-family: "Inter Semibold";
  font-size: 14px;
  text-decoration: none;
  background-color: #1a846a;
  padding: 8px 20px;
  border-radius: 8px;
  border: 1px solid transparent;
}

@media (max-width: 320px) {
  .button {
    padding: 8px 8px;
  }
}
.main__screen {
  margin-top: 39px;
  margin-bottom: 56px;
}

.main__other-news {
  margin-bottom: 22px;
}

@media (max-width: 1250px) {
  .main__other-news {
    flex-wrap: wrap;
  }
}
.main-article {
  width: 100%;
}

.main-article__title {
  margin-left: -1px;
  margin-bottom: 64px;
}

@media (max-width: 1100px) {
  .main-article__title {
    margin-bottom: 40px;
    margin-top: 40px;
  }
}
@media (max-width: 768px) {
  .main-article__title {
    margin-bottom: 20px;
    margin-top: 20px;
  }
}
.main-article__text {
  margin-left: -1px;
  width: 98%;
}

@media (max-width: 1100px) {
  .main-article__image {
    width: 100%;
    height: auto;
  }
}
.top-story-article {
  width: 100%;
  display: flex;
  flex-direction: row;
  column-gap: 16px;
}

@media (max-width: 900px) {
  .top-story-article {
    flex-wrap: wrap;
    row-gap: 10px;
  }
}
.top-story-article__author {
  color: #1a846a;
  font-family: "Inter Medium", sans-serif;
  font-size: 16px;
  line-height: 1.4em;
  text-transform: uppercase;
  margin: 9px 0;
}

.top-story-article__title {
  margin: 0;
}

.top-story-article__info-block {
  width: 61%;
}

@media (max-width: 900px) {
  .top-story-article__info-block {
    width: 100%;
  }
}
.top-story-article__time-comments-block {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  column-gap: 8px;
}

.top-story-article__comments-block {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  column-gap: 10px;
  margin-left: 9px;
}

.top-story-article__image-block {
  width: 200px;
  height: 123px;
}

@media (max-width: 900px) {
  .top-story-article__image-block {
    width: 63%;
  }
}
@media (max-width: 768px) {
  .top-story-article__image-block {
    width: 100%;
    height: auto;
  }
}
.top-story-article__image-block_background_with-bg {
  background-color: #dfdee7;
  text-align: center;
}

@media (max-width: 768px) {
  .top-story-article__image-block_background_with-bg {
    background-color: transparent;
    text-align: left;
  }
}
.top-story-article__image-block_background_without-bg {
  text-align: right;
}

@media (max-width: 900px) {
  .top-story-article__image-block_background_without-bg {
    text-align: left;
  }
}
@media (max-width: 768px) {
  .top-story-article__image {
    width: 50%;
    height: auto;
  }
}
@media (max-width: 460px) {
  .top-story-article__image {
    width: 70%;
  }
}
@media (max-width: 380px) {
  .top-story-article__image {
    width: 85%;
  }
}
.top-story-article__info-text {
  color: #545764;
  font-family: "Inter Medium", sans-serif;
  font-size: 16px;
  line-height: 1.4em;
  text-transform: uppercase;
}

.top-stories {
  position: relative;
  width: 100%;
}

.top-stories__list {
  list-style: none;
  counter-reset: counter;
  margin-top: 0;
  padding-left: 48px;
}

@media (max-width: 900px) {
  .top-stories__list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 8%;
    row-gap: 10px;
  }
}
@media (max-width: 768px) {
  .top-stories__list {
    display: block;
  }
}
.top-stories__item {
  margin-top: 15px;
  margin-bottom: 24px;
  counter-increment: counter;
}

.top-stories__item::before {
  content: counter(counter);
  position: absolute;
  left: 0;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e8eaed;
  border-radius: 50%;
  color: #1a846a;
  font-family: "Poppins Medium", sans-serif;
  font-size: 16px;
  line-height: 1.4em;
}

@media (max-width: 900px) {
  .top-stories__item {
    width: 46%;
  }
}
@media (max-width: 768px) {
  .top-stories__item {
    width: 100%;
  }
}
.top-stories__title {
  padding-left: 48px;
  margin-top: 0;
  margin-bottom: 0px;
}

.screen {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 30px;
}

@media (max-width: 900px) {
  .screen {
    flex-wrap: wrap;
    row-gap: 40px;
  }
}
.another-article {
  width: 100%;
}

@media (max-width: 1250px) {
  .another-article {
    width: 45%;
    row-gap: 20px;
  }
}
@media (max-width: 460px) {
  .another-article {
    width: 75%;
  }
}
.another-article__title {
  margin-top: 13px;
}

.another-article__text {
  margin-top: -13px;
  width: 96%;
}

@media (max-width: 1100px) {
  .another-article__image {
    width: 100%;
    height: auto;
  }
}
.dividing-line {
  height: 2px;
  background-color: #9da3ae;
}

.footer {
  padding: 1px 79px;
}

@media (max-width: 900px) {
  .footer {
    padding: 0;
  }
}
.footer__logo {
  color: #000000;
  font-family: "Poppins Semibold", sans-serif;
  font-size: 24px;
  margin-top: 18px;
  margin-bottom: 26px;
}

.footer__text-block {
  margin-bottom: 26px;
}

.footer__link {
  color: #000000;
  font-family: "Inter Regular", sans-serif;
  font-size: 18px;
  line-height: 1.6em;
  text-decoration: none;
  text-transform: uppercase;
}

.footer__separator {
  color: #000000;
  font-family: "Inter Regular", sans-serif;
  font-size: 18px;
  line-height: 1.6em;
  text-transform: uppercase;
  margin: 0 1px;
}
