@use '../../../styles/variables' as v;

.footer__link {
  color: v.$color-text-general;
  font-family: 'Inter Regular', sans-serif;
  font-size: 18px;
  line-height: 1.6em;
  text-decoration: none;
  text-transform: uppercase;
}
