@use '../../styles/variables' as v;

.h2 {
  color: v.$color-text-general;
  font-family: 'League Gothic Regular', sans-serif;
  font-size: 72px;
  line-height: 0;
}

@media (max-width: 1100px) {
  .h2 {
    line-height: 1;
  }
}

@media (max-width: 460px) {
  .h2 {
    font-size: 60px;
  }
}

@media (max-width: 380px) {
  .h2 {
    font-size: 45px;
  }
}
