.burger-menu {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 23px;
  border: 1px solid transparent;
  background-color: white;
  padding: 10px 20px 15px;
}

@media (max-width: 900px) {
  .burger-menu {
    display: flex;
    position: absolute;
    top: -16px;
    right: 164px;
  }
}

@media (max-width: 500px) {
  .burger-menu {
    top: -11px;
  }
}

@media (max-width: 400px) {
  .burger-menu {
    top: -10px;
    right: 125px;
  }
}

@media (max-width: 380px) {
  .burger-menu {
    top: -16px;
    padding: 10px 11px 15px;
  }
}

@media (max-width: 320px) {
  .burger-menu {
    padding: 10px 8px 15px;
  }
}
