.top-stories__list {
  list-style: none;
  counter-reset: counter;
  margin-top: 0;
  padding-left: 48px;
}

@media (max-width: 900px) {
  .top-stories__list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 8%;
    row-gap: 10px;
  }
}

@media (max-width: 768px) {
  .top-stories__list {
    display: block;
  }
}
