// Colors

// Text
$color-text-general: #000000;
$color-text-highlighted: #1a846a;
$color-text-secondary: #545764;
$color-text-button: #ffffff;

// Background
$color-bg-button: #1a846a;
$color-bg-line: #9da3ae;
$color-bg-number: #e8eaed;
$color-bg-image: #dfdee7;
