.button {
  width: 89px;
  height: 40px;
  color: #ffffff;
  font-family: 'Inter Semibold';
  font-size: 14px;
  text-decoration: none;
  text-decoration: none;
  background-color: #2ad18a;
  padding: 8px 20px;
  border-radius: 8px;
  border: 1px solid transparent;
}
