@use '../../styles/variables' as v;

.button {
  width: 89px;
  height: 40px;
  color: v.$color-text-button;
  font-family: 'Inter Semibold';
  font-size: 14px;
  text-decoration: none;
  background-color: v.$color-bg-button;
  padding: 8px 20px;
  border-radius: 8px;
  border: 1px solid transparent;
}

@media (max-width: 320px) {
  .button {
    padding: 8px 8px;
  }
}
