.screen {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 30px;
}

@media (max-width: 768px) {
  .screen {
    flex-wrap: wrap;
    row-gap: 40px;
  }
}
