@use '../../../styles/variables' as v;

.top-stories__item {
  margin-top: 15px;
  margin-bottom: 24px;
  counter-increment: counter;
}

.top-stories__item::before {
  content: counter(counter);
  position: absolute;
  left: 0;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: v.$color-bg-number;
  border-radius: 50%;
  color: v.$color-text-highlighted;
  font-family: 'Poppins Medium', sans-serif;
  font-size: 16px;
  line-height: 1.4em;
}

@media (max-width: 900px) {
  .top-stories__item {
    width: 46%;
  }
}

@media (max-width: 768px) {
  .top-stories__item {
    width: 100%;
  }
}
