.main-article__title {
  margin-left: -1px;
  margin-bottom: 64px;
}

@media (max-width: 1100px) {
  .main-article__title {
    margin-bottom: 40px;
    margin-top: 40px;
  }
}

@media (max-width: 768px) {
  .main-article__title {
    margin-bottom: 20px;
    margin-top: 20px;
  }
}
