@use '../../../styles/variables' as v;

.top-story-article__info-text {
  color: v.$color-text-secondary;
  font-family: 'Inter Medium', sans-serif;
  font-size: 16px;
  line-height: 1.4em;
  text-transform: uppercase;
}
