@use '../../../styles/variables' as v;

.footer__separator {
  color: v.$color-text-general;
  font-family: 'Inter Regular', sans-serif;
  font-size: 18px;
  line-height: 1.6em;
  text-transform: uppercase;
  margin: 0 1px;
}
