.top-story-article {
  width: 571px;
  display: flex;
  flex-direction: row;
  column-gap: 13px;
  /*! для тестирования */
  position: relative;
  top: -534px;
  left: 787px;
  /*! свойства ниже перенести в св-ва элемента блока (списка)*/
  margin-top: 18px;
  margin-bottom: 24px;
}
