.another-article {
  width: 100%;
}

@media (max-width: 1250px) {
  .another-article {
    width: 45%;
    row-gap: 20px;
  }
}

@media (max-width: 460px) {
  .another-article {
    width: 75%;
  }
}
