.top-story-article__image-block_background_with-bg {
  background-color: #dfdee7;
  text-align: center;
}

@media (max-width: 768px) {
  .top-story-article__image-block_background_with-bg {
    background-color: transparent;
    text-align: left;
  }
}
