@font-face {
  font-family: 'Inter Regular';
  src: url('assets/fonts/inter-regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inter Medium';
  src: url('assets/fonts/inter-medium.ttf') format('truetype');
  font-weight: 500;
  font-style: medium;
}

@font-face {
  font-family: 'Inter Semibold';
  src: url('assets/fonts/Inter-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: semibold;
}

@font-face {
  font-family: 'Inter Bold';
  src: url('assets/fonts/inter-bold.ttf') format('truetype');
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: 'Poppins Semibold';
  src: url('assets/fonts/poppins-semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: semibold;
}

@font-face {
  font-family: 'Poppins Medium';
  src: url('assets/fonts/poppins-medium.ttf') format('truetype');
  font-weight: 500;
  font-style: medium;
}

@font-face {
  font-family: 'League Gothic Regular';
  src: url('assets/fonts/league-gothic.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
