@use '../../../styles/variables' as v;

.top-story-article__author {
  color: v.$color-text-highlighted;
  font-family: 'Inter Medium', sans-serif;
  font-size: 16px;
  line-height: 1.4em;
  text-transform: uppercase;
  margin: 9px 0;
}
